@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "Helvetica Neue";
}

#classOf {
  font-size: 33px;
}

#year {
  font-family: "Helvetica Neue Bold";
}

.horn {
  width: 55px;
  padding: 10px;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 77px;
  margin: 0 auto;
}

.award-box {
  width: 399px;
  height: 150px;
  background-size: cover;
  padding: 0px;
}

.title {
  display: flex;
  align-items: center;
  height: 50%;
  font-family: "Helvetica Neue Condensed";
  padding-left: 20px;
  font-size: 32px;
}

.names {
  height: 50%;
  background-color: rgba(0,0,0,0.3);
  font-family: "Helvetica Neue";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 21px;
}

.valedictorian-box {
  background-image: url("../img/valedictorian.png");
}

.valedictorian-title {
  background: rgb(255,229,153);
  background: linear-gradient(110deg, rgba(255,229,153,1) 21%, rgba(0,0,0,0) 100%);
}
