@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "Helvetica Neue";
}

#classOf {
  font-size: 33px;
}

#year {
  font-family: "Helvetica Neue Bold";
}

.horn {
  width: 55px;
  padding: 10px;
}

#header {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  height: 77px;
  margin: 0 auto;
}