      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      
      /* Header styles */
      .header {
        background-color: #A2AAAD;
        color: #fff;
        text-align: center;
        padding: 20px;
      }
      
      /* Logo styles */
      .logo {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-image: url('../img/logo_horizontal.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
      
      /* Navigation styles */
      #nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        overflow-x: auto;
        background-color: #154734;
      }
      
      #nav a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: #FFB81C;
      }
      
      #nav a:hover {
        background-color: #154734;
        color: #fff;
		cursor: pointer;
      }
      
      /* Sub-navigation styles */
      #sub-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        overflow-x: auto;
        background-color: #154734;
      }
      
      #sub-nav a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: #FFB81C;
      }
      
      #sub-nav a:hover {
        background-color: #154734;
        color: #fff;
      }
      
      /* Main content styles */
      .content {
        padding: 20px;
      }
      
          .copyright h {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;    
}