@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
}

#logo {
  width: 555px;
  padding-bottom: 16px;
}

body {
  font-family: "Helvetica Neue Light";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  font-size: 33px;
  padding: 8px;
}

#nav-dec {
  display: flex; 
  flex-direction: row; 
}

#nav-year {
  display: none;
  flex-direction: row;
}

#back {
  color: red;
  font-size: 22px;
  visibility: hidden;
}

#credits {
  color: gray;
  font-size: 10px;
  padding-top: 32px;
}