@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
}

#logo {
  width: 444px;
  padding-bottom: 12px;
}

body {
  font-family: "Helvetica Neue Light";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* Mobile Styles */
}

#logo {
  width: 444px;
  padding-bottom: 12px;
}

body {
  font-family: "Helvetica Neue Light";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  font-size: 25px;
  padding: 5px;
  color: black;
  text-decoration: none;
}

#nav-dec {
  display: flex; 
  flex-direction: column; 
}

#nav-year {
  display: none;
  flex-direction: column;
}

#back {
  color: red;
  font-size: 20px;
  visibility: hidden;
}

#credits {
  color: gray;
  font-size: 13px;
  padding-top: 32px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  font-size: 25px;
  padding: 5px;
  color: black;
  text-decoration: none;
}

#nav-dec {
  display: flex; 
  flex-direction: row; 
}

#nav-year {
  display: none;
  flex-direction: row;
}

#back {
  color: red;
  font-size: 20px;
  visibility: hidden;
}

#credits {
  color: gray;
  font-size: 13px;
  padding-top: 32px;
}
